# My Journey Through Pandas
With the fundamentals of Python covered, I need to move on to my next goal. Pandas is a near universally accepted data manipulation library. I need to get fluent in using it, so I am going to cover what I learn here. Most (or all) of this will come from the pandas getting started document.

### imports for data science
These are the de facto libraries needed to manipulate and visualize data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### bare minimum - dataframe creation
dataframes seem to be the go to data manipulation structure.

In [2]:
dates = pd.date_range('20180401', periods=9, freq='M') #Used for row labels

df = pd.DataFrame(np.random.randn(9, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-04-30 -1.376581 -1.153729 -1.303206  1.113923
2018-05-31 -0.853170  1.020163 -1.236221 -0.103274
2018-06-30  0.028134  0.224504 -1.448535  0.505337
2018-07-31 -1.472882  0.703676  1.767745 -0.224311
2018-08-31 -0.206523 -0.101991  1.814356  1.069452
2018-09-30 -0.511583  1.001103 -0.754448  1.046201
2018-10-31  1.055467 -1.155848  0.513229 -0.604691
2018-11-30  1.273583 -0.713253 -0.487358 -0.219365
2018-12-31 -0.701002 -1.361125 -1.573291 -3.773079

### another way to create a dataframe
This way uses a dictionary like implementation

In [3]:
df2 = pd.DataFrame({'Red': 1.0,
                    'Orange': pd.Timestamp('20180401'),
                    'Yellow': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'Green': np.array([3] * 4, dtype='int32'),
                    'Blue': pd.Categorical(["Burninator", "Spicy", "Mild", "Minty"]),
                    'Indigo': np.random.randn(), 
                    'Violet': 'London'})
df2

   Red     Orange  Yellow  Green        Blue    Indigo  Violet
0  1.0 2018-04-01     1.0      3  Burninator  0.074633  London
1  1.0 2018-04-01     1.0      3       Spicy  0.074633  London
2  1.0 2018-04-01     1.0      3        Mild  0.074633  London
3  1.0 2018-04-01     1.0      3       Minty  0.074633  London

In [4]:
df2.dtypes

Red              float64
Orange    datetime64[ns]
Yellow           float32
Green              int32
Blue            category
Indigo           float64
Violet            object
dtype: object

### Representing the data

In [5]:
df.head() #displays first 5 rows if you pass no arguments

                   A         B         C         D
2018-04-30 -1.376581 -1.153729 -1.303206  1.113923
2018-05-31 -0.853170  1.020163 -1.236221 -0.103274
2018-06-30  0.028134  0.224504 -1.448535  0.505337
2018-07-31 -1.472882  0.703676  1.767745 -0.224311
2018-08-31 -0.206523 -0.101991  1.814356  1.069452

In [6]:
df.tail(3) #displays the last n rows

                   A         B         C         D
2018-10-31  1.055467 -1.155848  0.513229 -0.604691
2018-11-30  1.273583 -0.713253 -0.487358 -0.219365
2018-12-31 -0.701002 -1.361125 -1.573291 -3.773079

In [7]:
df.index #displays information about the index (index is the row labels)

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='M')

In [9]:
df.columns #displays information about the columns (columns are the column labels)

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.describe() #extremely useful statistical summary of your dataframe

              A         B         C         D
count  9.000000  9.000000  9.000000  9.000000
mean  -0.307173 -0.170722 -0.300859 -0.132201
std    0.966673  0.959496  1.345008  1.511954
min   -1.472882 -1.361125 -1.573291 -3.773079
25%   -0.853170 -1.153729 -1.303206 -0.224311
50%   -0.511583 -0.101991 -0.754448 -0.103274
75%    0.028134  0.703676  0.513229  1.046201
max    1.273583  1.020163  1.814356  1.113923

In [13]:
df.sort_index(axis=1, ascending=False) #this sorts by the axis, axis=0 sorts by row labels (default) 
                                       #and axis=1 sorts by column lables

                   D         C         B         A
2018-04-30  1.113923 -1.303206 -1.153729 -1.376581
2018-05-31 -0.103274 -1.236221  1.020163 -0.853170
2018-06-30  0.505337 -1.448535  0.224504  0.028134
2018-07-31 -0.224311  1.767745  0.703676 -1.472882
2018-08-31  1.069452  1.814356 -0.101991 -0.206523
2018-09-30  1.046201 -0.754448  1.001103 -0.511583
2018-10-31 -0.604691  0.513229 -1.155848  1.055467
2018-11-30 -0.219365 -0.487358 -0.713253  1.273583
2018-12-31 -3.773079 -1.573291 -1.361125 -0.701002

In [17]:
df.sort_values(by=['C', 'A'], kind='mergesort') #sorts values by column(s) supplied

                   A         B         C         D
2018-12-31 -0.701002 -1.361125 -1.573291 -3.773079
2018-06-30  0.028134  0.224504 -1.448535  0.505337
2018-04-30 -1.376581 -1.153729 -1.303206  1.113923
2018-05-31 -0.853170  1.020163 -1.236221 -0.103274
2018-09-30 -0.511583  1.001103 -0.754448  1.046201
2018-11-30  1.273583 -0.713253 -0.487358 -0.219365
2018-10-31  1.055467 -1.155848  0.513229 -0.604691
2018-07-31 -1.472882  0.703676  1.767745 -0.224311
2018-08-31 -0.206523 -0.101991  1.814356  1.069452

### Data selection and manipulation

In [19]:
df['B'] #accessing a single column

2018-04-30   -1.153729
2018-05-31    1.020163
2018-06-30    0.224504
2018-07-31    0.703676
2018-08-31   -0.101991
2018-09-30    1.001103
2018-10-31   -1.155848
2018-11-30   -0.713253
2018-12-31   -1.361125
Freq: M, Name: B, dtype: float64

In [24]:
df[0:2] #slices by row number

                   A         B         C         D
2018-04-30 -1.376581 -1.153729 -1.303206  1.113923
2018-05-31 -0.853170  1.020163 -1.236221 -0.103274

In [26]:
df['2018-08-31':'2018-10-31'] #slices by row label

                   A         B         C         D
2018-08-31 -0.206523 -0.101991  1.814356  1.069452
2018-09-30 -0.511583  1.001103 -0.754448  1.046201
2018-10-31  1.055467 -1.155848  0.513229 -0.604691

In [29]:
df[['C', 'A']] #selecting multiple columns via column names

                   C         A
2018-04-30 -1.303206 -1.376581
2018-05-31 -1.236221 -0.853170
2018-06-30 -1.448535  0.028134
2018-07-31  1.767745 -1.472882
2018-08-31  1.814356 -0.206523
2018-09-30 -0.754448 -0.511583
2018-10-31  0.513229  1.055467
2018-11-30 -0.487358  1.273583
2018-12-31 -1.573291 -0.701002

In [31]:
df.loc['2018-06-30':'2018-11-30', ['D', 'B']] #limiting selection by rows and columns

                   D         B
2018-06-30  0.505337  0.224504
2018-07-31 -0.224311  0.703676
2018-08-31  1.069452 -0.101991
2018-09-30  1.046201  1.001103
2018-10-31 -0.604691 -1.155848
2018-11-30 -0.219365 -0.713253

In [32]:
df.loc[dates[0]] #selecting a single row

A   -1.376581
B   -1.153729
C   -1.303206
D    1.113923
Name: 2018-04-30 00:00:00, dtype: float64

##### .at, .iat, .loc, and .iloc are the more optimized pandas methods and should be used when possible

In [33]:
df.iloc[2] #accessing a specific row

A    0.028134
B    0.224504
C   -1.448535
D    0.505337
Name: 2018-06-30 00:00:00, dtype: float64

In [34]:
df.iloc[3:7, 1:3] #accessing rows and columns

                   B         C
2018-07-31  0.703676  1.767745
2018-08-31 -0.101991  1.814356
2018-09-30  1.001103 -0.754448
2018-10-31 -1.155848  0.513229

#### limiting results based on conditions

In [35]:
df[df.A > 0] #returns only the rows where A is greater than 0

                   A         B         C         D
2018-06-30  0.028134  0.224504 -1.448535  0.505337
2018-10-31  1.055467 -1.155848  0.513229 -0.604691
2018-11-30  1.273583 -0.713253 -0.487358 -0.219365