# My Journey Through Pandas
With the fundamentals of Python covered, I need to move on to my next goal. Pandas is a near universally accepted data manipulation library. I need to get fluent in using it, so I am going to cover what I learn here.

### imports for data science
These are the de facto libraries needed to manipulate and visualize data.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### bare minimum - dataframe creation
dataframes seem to be the go to data manipulation structure.

In [6]:
dates = pd.date_range('20180401', periods=9, freq='M') #Used for row labels

df = pd.DataFrame(np.random.randn(9, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-04-30  0.601821  0.324701  1.103357 -0.987201
2018-05-31  0.083426  0.730014 -1.565929 -0.083231
2018-06-30 -0.864260 -0.335171 -1.257852 -0.740705
2018-07-31  1.496218 -0.030806  0.082025 -1.163921
2018-08-31 -0.195362 -1.000385  0.675709 -0.465959
2018-09-30 -0.980363  1.117969  0.089167 -1.307214
2018-10-31  1.387453  0.352328  0.545921 -0.577055
2018-11-30  0.115339  0.222344  0.529793 -1.188008
2018-12-31 -1.610291 -0.530199  0.143121  0.524934

### another way to create a dataframe
This way uses a dictionary like implementation

In [12]:
df2 = pd.DataFrame({'Red': 1.0,
                    'Orange': pd.Timestamp('20180401'),
                    'Yellow': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'Green': np.array([3] * 4, dtype='int32'),
                    'Blue': pd.Categorical(["Burninator", "Spicy", "Mild", "Minty"]),
                    'Indigo': np.random.randn(), 
                    'Violet': 'London'})
df2

   Red     Orange  Yellow  Green        Blue    Indigo  Violet
0  1.0 2018-04-01     1.0      3  Burninator -0.298456  London
1  1.0 2018-04-01     1.0      3       Spicy -0.298456  London
2  1.0 2018-04-01     1.0      3        Mild -0.298456  London
3  1.0 2018-04-01     1.0      3       Minty -0.298456  London